---
import MicrofrontendA from "../components/MicrofrontendA.astro";
import MicrofrontendB from "../components/MicrofrontendB.astro";
import Loader from "../components/loader/Loader.astro";
import ClientComponent from "../components/client/ClientComponent";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>Shell</title>
    <script type="importmap">
      {
        "imports": {
          "react": "https://esm.sh/react@19",
          "react-dom": "https://esm.sh/react-dom@19",
          "react-dom/client": "https://esm.sh/react-dom@19/client",
          "react/jsx-runtime": "https://esm.sh/react@19/jsx-runtime"
        }
      }
    </script>
  </head>
  <body>
    <h1>Shell</h1>
    <MicrofrontendA server:defer>
      <Loader slot="fallback"/>
    </MicrofrontendA>
    <MicrofrontendB server:defer>
      <Loader slot="fallback" />
    </MicrofrontendB>
    <ClientComponent client:only="react" />
  </body>
</html>