---
import MicrofrontendA from "../components/MicrofrontendA.astro"
import MicrofrontendB from "../components/MicrofrontendB.astro"
import Fallback from "../components/fallback/Fallback.astro";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{"Shell"}</title>
	<script type="importmap">
		{
          "imports": {
            "react": "https://esm.sh/react@19",
            "react-dom": "https://esm.sh/react-dom@19"
          }
        }
	</script>
</head>
<body>
	<header>Header</header>
	<MicrofrontendA server:defer>
		<div slot="fallback"><Fallback /></div>
	</MicrofrontendA>
	<MicrofrontendB server:defer>
		<div slot="fallback"><Fallback /></div>
	</MicrofrontendB>
	<footer>Footer</footer>
</body>
</html>