---
import ClientComponent from "../components/ClientComponent";
import style from "./_index.module.css";

const response = await fetch("https://sw.simplr.sh/api/people/1.json");
const data = await response.json();
---

<section class={style.container}>
  <h2>Microfrontend A</h2>
  <p>Name: {data.name}</p>
  <ClientComponent client:only="react" />
</section>
