---
import ClientComponent from "../components/ClientComponent";
import style from "./_index.module.css";

const response = await fetch("http://swapi.dev/api/people/1");
const data = await response.json();
---

<section>
  <h2 class={style.heading}>Microfrontend A</h2>
  <p class={style.text}>Name: {data.name}</p>
  <ClientComponent client:only="react" />
</section>
